.main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.characters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character__hp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30px;
  background-color: #8ffa6a;
  border: 2px solid #000;
  border-radius: 25px;
}

.character__hp-enemy {
  background-color: #ff6060;
}

.character__hp-value {
  margin: 0;
}

.character__image {
  padding-top: 30px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cards__hand {
  display: flex;
  max-width: 80%;
}

.mp {
  display: flex;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
}

.mp__image {
  height: 50px;
  width: auto;
}

.end-turn {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.end-turn__button {
  width: 100%;
  border: 2px solid #000;
  border-radius: 10px;
  text-align: center;
  height: 50px;
  font-size: 16px;
}

.end-turn__button:active {
  background-color: #b4b4b4;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  border: 2px solid #000;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin-right: 20px;
}

.card:active {
  background-color: #f2f2f2;
}

.card__header {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.card__image {
  width: 80px;
  height: auto;
  align-self: center;
}
